<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950877059320-55av2up6073t2sih263a6sm2bmct1dtj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950877059320-55av2up6073t2sih263a6sm2bmct1dtj</string>
	<key>API_KEY</key>
	<string>AIzaSyAXkGApGCq8SAzDbOXGmsjb_9610TQCHIA</string>
	<key>GCM_SENDER_ID</key>
	<string>950877059320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab11</string>
	<key>PROJECT_ID</key>
	<string>monotran</string>
	<key>STORAGE_BUCKET</key>
	<string>monotran.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950877059320:ios:05def8a487cee234c9e30d</string>
</dict>
</plist>